*
!.gitignore
!README-AR.txt
!commercial/
!residential/
!government/
!interiors/
!documents/
!videos/
!knowledge/
!panorama/
!commercial/.gitkeep
!residential/.gitkeep
!government/.gitkeep
!interiors/.gitkeep
!documents/.gitkeep
!videos/.gitkeep
!knowledge/.gitkeep
!panorama/.gitkeep